#AddHandler application/x-httpd-php54 .php .php5 .php4 .html
Options -MultiViews
RewriteEngine on
RewriteCond $1 !^(index\.php|images|core|css|js|themes|assets|forum|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]
#php_extension php_openssl.dll
